<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>An application for test.</description>
  <display-name>My Web Application</display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
        <servlet-name>SearchProblem</servlet-name>
        <servlet-class>Webpage.SearchProblem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProblem</servlet-name>
        <url-pattern>/SearchProblem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Problem</servlet-name>
        <servlet-class>Webpage.Problem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Problem</servlet-name>
        <url-pattern>/Problem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DifficultyList</servlet-name>
        <servlet-class>Webpage.DifficultyList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DifficultyList</servlet-name>
        <url-pattern>/DifficultyList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KnowledgeList</servlet-name>
        <servlet-class>Webpage.KnowledgeList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KnowledgeList</servlet-name>
        <url-pattern>/KnowledgeList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>footer</servlet-name>
        <servlet-class>Webpage.footer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>footer</servlet-name>
        <url-pattern>/footer</url-pattern>
    </servlet-mapping>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>Webpage.CountSession</listener-class>
    </listener>
</web-app>
